
@model Kursach.Data.Entities.TypeOfDocument
@{

}
<html>

<head>


</head>
<body>

</body>
<div class="text-center">
    <form asp-controller="TypeOfDocuments" asp-action="CreateType" method="post">
        <label>Введите имя типа документа</label>
        <br />
        <input type="text" class="form-control" placeholder="Имя типа документа" style="width: 200px; margin:0 auto" id="serarch-text" name="type_name" /><br />
        <input class="btn btn-primary" type="submit" value="Создать тип" />
    </form>

</div>
</html>
